In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("This is my first Python class")

This is my first Python class

In [3]:
len(anuja)

NameError: name 'anuja' is not defined

In [4]:
len("Anuja")

5

In [5]:
len(8)

TypeError: object of type 'int' has no len()

In [6]:
len("8")

1

In [7]:
a= 5 +6j

In [8]:
a

(5+6j)

In [9]:
typr(a)

NameError: name 'typr' is not defined

In [10]:
type(a)

complex

In [11]:
b = 'anuja'

In [12]:
b

'anuja'

In [13]:
c= "anuja"

In [14]:
c

'anuja'

In [15]:
d = True
type(d)

bool

In [16]:
a, b, c, d= 123, "Data Science", 6+6j, True
a
b
c
d

True

In [17]:
b

'Data Science'

In [18]:
c

(6+6j)

In [19]:
c.imag

6.0

In [20]:
c.real

6.0

In [21]:
c= 1=2j
c.imag

SyntaxError: cannot assign to literal (<ipython-input-21-093a6f2fc643>, line 1)

In [22]:
c= 1+2j
c.imag

2.0

In [23]:
c.real

1.0

1. To get info about a function click inside the fuction and press "Shift+Tab" 
2. To access sub functions of a function, press tab after the variable name 
Eg: c."+Tab" -> c.imag

In [36]:
a+str(4)

'anuja4'

In [25]:
a + str(4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
a = 'anuja'
a + str(4)

'anuja4'

In [27]:
True + True

2

In [28]:
True + False

1

# While processing internally, 
True = 1
False = 0

In [29]:
1 + True

2

In [30]:
True - False

1

In [31]:
True - True

0

In [32]:
input()

This input is given during runtime

'This input is given during runtime'

# Data passed in input() will always be a string data as shown below

In [33]:
x = input()

12345

In [34]:
x

'12345'

# Type casting

In [35]:
int(x)

12345

# Strings

In [37]:
a='anuja'
a[4]

'a'

In [38]:
a[5]

IndexError: string index out of range

Positive indexing starts from 0 to 1, 2,...
Negative indexing starts from -1 to -2, -3, ...

In [39]:
a[-1]

'a'

In [40]:
a[-2]

'j'

In [41]:
a[-3]

'u'

In [42]:
a='This is a data science class'
a[0:15]

'This is a data '

In [43]:
a[0:4]
#Excluding the upper bound so o/p will be from string 0 to 3

'This'

In [44]:
a[0:3]

'Thi'

In [47]:
a[0:400]
#Range provided from start ann end: Complete string as much as available in the range will be the o/p
#Accessing single character: Out of range error will be given if we try to access a character out of range

'This is a data science class'

In [48]:
a="kumar"
a[0:300:1]
#start range
#end range
#jump (+1 is a default jump size)

'kumar'

In [49]:
a[0:3:-1]
#o/p is blank cz we are accessing +ve side(integer line) of the string and jump direction is -ve side(integer line)

''

In [50]:
a[0:3:1]

'kum'

In [51]:
a[-1:-4:-1]
#o/p displayed as range and jump direction is same

'ram'

In [52]:
a[::]
#no range given, will consider whole string.

'kumar'

In [53]:
a[1:]

'umar'

In [54]:
a[-2:]

'ar'

In [55]:
a[:3]

'kum'

In [66]:
a='kumar'
a[:-1]
#start from -1
#end is -2
#but jump is in +ve direction by default so starting from -1 to -2 and will go towards +ve direction. 
#(Imagine with integer ine)

'kuma'

In [57]:
a[-1::-1]

'ramuk'

In [59]:
a='This is a data science class'
a[::-1]
#string reverse

'ssalc ecneics atad a si sihT'

In [60]:
a[-2:2:-1]

'salc ecneics atad a si s'

In [61]:
"anu"*3

'anuanuanu'

In [62]:
"data"+"science"

'datascience'

In [63]:
len(a)

28

In [72]:
a='data science'
a.find('t')
#gives the index value of the character

2

In [70]:
a.count('a')
#gives the total count of the character

2

In [75]:
c= 'This is a data science session'
b= c.split()
b

['This', 'is', 'a', 'data', 'science', 'session']

In [77]:
b= c.split('d')
b

['This is a ', 'ata science session']

In [79]:
a='anuja'
a.upper()

'ANUJA'

In [80]:
a='aNuja'
a.swapcase()

'AnUJA'

In [81]:
a='anuja'
a.title()
#First character capital

'Anuja'

In [82]:
a='anuja'
a.capitalize()
#First character capital

'Anuja'

In [85]:
n='data'
m='x'
m.join(n)

'dxaxtxa'

In [86]:
" ".join("anuja")

'a n u j a'

In [87]:
s=' anuja '
s.rstrip()
#right space removed

' anuja'

In [88]:
s.replace('a','x')

' xnujx '

In [89]:
'anuja\tshinde'.expandtabs()

'anuja   shinde'