# Tuple & Difference between Tuple and List

In [15]:
#1. NOTATION
t= (1,2,3,4,5)
type(t)

tuple

In [2]:
t1= ("anu", 345, 45+10j, 555.50, True)
type(t1)

tuple

In [3]:
t2= ["anu", 345, 45+10j, 555.50, True]
type(t2)

list

In [4]:
t1

('anu', 345, (45+10j), 555.5, True)

In [5]:
t2

['anu', 345, (45+10j), 555.5, True]

In [6]:
t1[0:2]

('anu', 345)

In [7]:
t2[0:2]

['anu', 345]

In [8]:
t1[::-1]
#elements in reverse order

(True, 555.5, (45+10j), 345, 'anu')

In [9]:
t1[-1]

True

In [10]:
t1

('anu', 345, (45+10j), 555.5, True)

In [11]:
#2. We can change elements in a LIST, MUTABLE.
t2[0]="Shinde"
t2

['Shinde', 345, (45+10j), 555.5, True]

In [12]:
t2[0]

'Shinde'

In [13]:
t1[0]

'anu'

In [14]:
#We cannot change elements in a TUPLE, IMMUTABLE.
t1[0]="Shinde"
t1

TypeError: 'tuple' object does not support item assignment

In [16]:
#Similarity -> Append, Multiplication, etc. operations are possible in tuple as well as list.
a1=(1,2,3,4,5)
t1+a1

('anu', 345, (45+10j), 555.5, True, 1, 2, 3, 4, 5)

In [17]:
a2=(1,2,3,4,5)
t1+a2

('anu', 345, (45+10j), 555.5, True, 1, 2, 3, 4, 5)

In [18]:
t1*2

('anu', 345, (45+10j), 555.5, True, 'anu', 345, (45+10j), 555.5, True)

In [19]:
t1

('anu', 345, (45+10j), 555.5, True)

In [20]:
t2*2

['Shinde', 345, (45+10j), 555.5, True, 'Shinde', 345, (45+10j), 555.5, True]

In [21]:
t1.count("anu")

1

In [22]:
t1.index(True)

4

In [23]:
t2

['Shinde', 345, (45+10j), 555.5, True]

In [25]:
#Nested tuples
t= (100, 200, (11, 22, 33), "anuja")
t

(100, 200, (11, 22, 33), 'anuja')

In [26]:
t= ([100, 200, 300], (11, 22, 33), "anuja")
type(t)

tuple

In [28]:
#Element 0 in tuple = list and element inside list can be changed
t[0][1]= 500
t

([100, 500, 300], (11, 22, 33), 'anuja')

In [29]:
#Element 0 in tuple cannot be changed, i.e. From [100,200,300] to any other element
t[0]= 500
t

TypeError: 'tuple' object does not support item assignment

In [30]:
#Tuple to List conversion and vice-versa
dummy = list(t1)
dummy

['anu', 345, (45+10j), 555.5, True]

In [31]:
tuple(dummy)

('anu', 345, (45+10j), 555.5, True)

# Set

In [32]:
#No elements inside curly braces, type = dict
s={}
type(s)

dict

In [33]:
#Elements inside curly braces, type = set
s={1,2,3}
type(s)

set

In [39]:
#Set removes duplicate elements automatically, SET HAS UNIQUE ELEMENTS.
s={1,1,1,1,1,5,4,2,4,8,8,9,5,3}
s

{1, 2, 3, 4, 5, 8, 9}

In [35]:
#Set is an unordered collection. Hence, accessing index of an element inside a set is not possible. 
#SET IS NEITHER MUTABLE NOR IMMUTABLE AS WE CANNOT ACCESS INDEXES.
s[0]

TypeError: 'set' object is not subscriptable

In [41]:
s.add(5877)
s

{1, 2, 3, 4, 5, 8, 9, 5877}

In [42]:
#We can add string element inside a set
s.add("anu")
s

{1, 2, 3, 4, 5, 5877, 8, 9, 'anu'}

In [43]:
#We cannot add List element inside a set
#We can add only primitive data types inside a set i.e. string, boolean, integer, etc.
#We cannot add collection data types i.e. list except TUPLE.
s.add([3,2,1])
s

TypeError: unhashable type: 'list'

In [44]:
#LIST inside set not allowed 
s1={[3,4,5,6], 3, 4, 5, 5}
s1

TypeError: unhashable type: 'list'

In [57]:
#TUPLE inside set allowed
s1={(3,4,5,6,6), 3, 4, 5, 5,10, 11, 15, 9, 10}
s1

{(3, 4, 5, 6, 6), 10, 11, 15, 3, 4, 5, 9}

In [58]:
s1.remove(3)

In [59]:
s1

{(3, 4, 5, 6, 6), 10, 11, 15, 4, 5, 9}

In [60]:
s1.discard(4)

In [61]:
s1

{(3, 4, 5, 6, 6), 10, 11, 15, 5, 9}

In [62]:
#Difference between remove and discard
#Remove will give error when we try to remove an element which is not in the set
s1.remove(45)

KeyError: 45

In [64]:
#Discard will not give error,it ignores when we try to remove an element which is not in the set
s1.discard(45)
s1

{(3, 4, 5, 6, 6), 10, 11, 15, 5, 9}

In [65]:
{"anu", "Anu"}

{'Anu', 'anu'}

In [66]:
d={4: "anu"}
type(d)

dict

In [68]:
d= {'k1': 545, 'k2': 'anu', 45: [1,2,3]}
d['k1']

545

In [77]:
d= {_4: ["anu", "shinde", {4,5,6}]}
type(d)

dict

In [94]:
#Same key name can be given but old value gets updated with latest one.
#Hence, try to keep an unique key for different values.
d= {'key1': 545, 'key2': 'anu', 'key1': [1,2,3], 'key3': {1: 4, 2: 5}}
d['key1']

[1, 2, 3]

In [80]:
d1={"*++": "hello"}

In [85]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [86]:
d.values()

dict_values([[1, 2, 3], 'anu', {1: 4, 2: 5}])

In [87]:
type(d.items())

dict_items

In [88]:
d['key4']= 'data science'

In [89]:
d

{'key1': [1, 2, 3],
 'key2': 'anu',
 'key3': {1: 4, 2: 5},
 'key4': 'data science'}

In [95]:
del d['key1']

In [93]:
d

{'key2': 'anu', 'key3': {1: 4, 2: 5}, 'key4': 'data science'}

In [96]:
d= {'key1': 545, 'key2': 'anu', 'key1': [1,2,3], 'key3': {1: 4, 2: 5}}
d.get('key1')

[1, 2, 3]

In [102]:
d1= {'key4': 545, 'key5': 'anu'}
d1.update(d)
d

{'key1': [1, 2, 3], 'key2': 'anu', 'key3': {1: 4, 2: 5}}

In [103]:
d1+d2

NameError: name 'd2' is not defined

In [104]:
key= ('k1', 'k2', 'k3')
value= 'anu'

In [106]:
d= d1.fromkeys(key,value)
d

{'k1': 'anu', 'k2': 'anu', 'k3': 'anu'}

In [107]:
d2={'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}
d2

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}