In [ ]:
a=2
b=3
print(a+b)

# PANDAS AND METHODS

In [ ]:
pip install pandas

In [ ]:
import pandas as pd
df=pd.read_csv("generic-food.csv")
df

In [ ]:
df.dtypes()

In [ ]:
df.dtypes

In [ ]:
iris=pd.read_csv("IrisDataSet.csv")
iris

In [ ]:
iris.dtypes

In [ ]:
df.head()
#First 5 rows of the data set
#Shift+Tab in between the brackets of head() to know what the method does.

In [ ]:
df.head(n=10)

In [ ]:
df.shape()

In [ ]:
df.shape
#no. of rows, cols

In [ ]:
df.tail()
#last 5 rows

In [ ]:
temp=pd.DataFrame({"A":[1,2,3],"B":["x","y","z"],"C":["12-02-2001","21-05-2016","20-02-2020"]})
#creating our own data frame

In [ ]:
temp

In [ ]:
temp.dtypes

In [ ]:
pd.to_datetime(["12-02-2001","21-05-2016","20-02-2020"])

In [ ]:
temp.dtypes

In [ ]:
temp["C"]= pd.to_datetime(temp["C"])

#Converting the object(String) into date format
#temp[Col_To_Access]=pd.to_datetime(temp[On_Which_Col])

In [ ]:
temp

In [ ]:
temp.dtypes

In [ ]:
temp["C"].dtypes

In [ ]:
pd.to_datetime(["2020-Sep-02", "abc"], errors= "coerce")
#parameter "abc" is not a date and to execute such data w/o error. 
#errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
#If ‘raise’, then invalid parsing will raise an exception.
#If ‘coerce’, then invalid parsing will be set as NaT.
#If ‘ignore’, then invalid parsing will return the input.

In [ ]:
pd.to_numeric("1")

In [ ]:
df.describe(include="all")
#details about the data i.e. unique values, top value, count of cols specified, mean, median, etc.

In [ ]:
df.info()

In [ ]:
df["FOOD NAME"].value_counts()
#count of unique FOOD NAME

df["FOOD NAME"].value_counts().head()
#count of top 5 unique FOOD NAME

# SELECTION OF DATA IN DATA FRAME

In [ ]:
#Positional Indexing

df.iloc[0:5,0:4]
#iloc is accessing data frame values by rows:cols
#first 5 rows 0:5, first 4 cols 0:4

df.iloc[[0,3],0:4]
#only row 0 and 3, first 4 cols 0:4

In [ ]:
df.iloc[:,: -1]
#all the rows and cols but excluding last col

df.iloc[:,-1 :]
#all the rows and only last col

In [ ]:
anuja= df.iloc[:,-1 :]
print(df.shape)
anuja.shape
#The actual dataframe 'df' doesn't get changed
#But if stored in another variable, it's copy is made in that variable, dataframe gets changed

In [ ]:
#Label based indexing 

df.loc[:,"FOOD NAME"]
#all rows and specified 'label' col

In [ ]:
df[["FOOD NAME","GROUP"]]
#all rows and only specified cols

In [ ]:
a=df.loc[:,"FOOD NAME"]
print(type(a))
a

#when we write a single col name, it is printed in a different format w/o headings.
#And it's data type is SERIES

In [ ]:
#However if we write a single col name WITH BRACKETS () i.e. passed as a LIST 
#it is printed in a different format and WITH HEADINGS.
#And it's data type is DATAFRAME

a=df.loc[:,["FOOD NAME"]]
print(type(a))
a


#If passed as a TUPLE, data type remains as a SERIES
a=df.loc[:,("FOOD NAME")]
print(type(a))
a

In [ ]:
b=df.iloc[0:5,[0,3]]
b

In [ ]:
df.loc[0:4,["FOOD NAME","GROUP"]]

In [ ]:
b=df.iloc[[0,3],[0,2]]
b

In [ ]:
df.loc[[0,4],["FOOD NAME","GROUP"]]

# FILTERING OF DATA ON DATASET

In [ ]:
a=df.loc[df["GROUP"]=="Fruits"]
a
#Applying a condition/filter where group==fruits
#filter will be applied on all cols just like excel. After getting all cols as o/p in a, then we can specify any col name as shown below
a=a.loc[:,["GROUP"]]
a

In [ ]:
a=df.loc[df["GROUP"]=="Fruits"].head(n=4)
a

In [ ]:
a=df.loc[df["GROUP"].isin(["Fruits","Vegetables"])].head()
a

#multiple conditions on a col

In [ ]:
a= df.loc[(df["GROUP"]=="Fruits") & (df["SUB GROUP"]=="Tropical fruits") & (df["FOOD NAME"]=="Mango")]
#AND condition 

a= df.loc[(df["GROUP"]=="Fruits") & (df["SUB GROUP"].isin(["Tropical fruits"]))].head()
a

# SORTING OF DATA ON DATASET

In [ ]:
a= df.loc[(df["GROUP"]=="Fruits") & (df["SUB GROUP"].isin(["Tropical fruits"]))].head()
a.reset_index()
#row values of o/p is unsorted as we applied a filter. So, we can reset the index of rows.
#'a' will have one more col 'INDEX', which is the actual row no. from original dataset

In [ ]:
a= df.loc[(df["GROUP"]=="Fruits") & (df["SUB GROUP"].isin(["Tropical fruits"]))].head()
a.reset_index(inplace=True)
a

#inplace=true means change the data frame a, i.e. rows from 0 to 10...
#default value of inplace is false i.e. if written as 'reset_index()'

In [ ]:
a= df.loc[(df["GROUP"]=="Fruits") & (df["SUB GROUP"].isin(["Tropical fruits"]))].head()
a.reset_index(inplace=True, drop=True)
a

#change the dataframe a with index starting from 0 and drop the col INDEX which had old index values

In [ ]:
df.sort_values(by=["FOOD NAME"],ascending=True).head()

#sorting data where col= FOOD NAME and order of letters is ascending

In [ ]:
df.sort_values(by=["FOOD NAME","GROUP"],ascending=[True,False]).head(n=20)

#Will sort FOOD NAME in ascending and then sort GROUP in descending order

# NUMPY AND METHODS

In [ ]:
import numpy as np
df["Cost"] = np.where(df["FOOD NAME"]=="Kiwi", "High", "Low")
df.head(n=20)

#will add the col which we create= 'df["Cost"]', where FOOD NAME= Kiwi by values which we provide=high/low

In [ ]:
df["Cost"] = np.where(df["FOOD NAME"]=="Kiwi", "High", "Low")
df.loc[df["Cost"]=="High"].shape

In [ ]:
df["Year"]=np.array(2021)
df
#will add col Year with values 2021

In [ ]:
df["Year"].value_counts()

In [ ]:
df["Cost"] = np.where(df["FOOD NAME"]=="Kiwi", "High", np.where(df["FOOD NAME"]=="Angelica", "Medium", "Low"))
df

#nested where conditions

# GROUPING

In [ ]:
iris=pd.read_csv("IrisDataSet.csv")
iris.groupby("Length").agg("max").head()

#grouping-SAC Split, Apply, Combine
#Split by a particular col i.e. groupby, apply  condition on same(Length)/diff col(Code) 
#i.e. agg()-aggregate and mention mean/min/max, combine data using the condition applied

#Split and apply by Length, combine by max

In [ ]:
iris.groupby("Length")["Code"].agg("max").head()
#Split by Length, Apply on Code, Combine by max

In [ ]:
iris.groupby("Code").mean()

In [ ]:
iris.groupby(["Length","Width"]).agg(["max","sum"]).head()
#For length: calculate max
#For Width: calculate sum
###################################################################
#1 col -> 1 condtion Use LIST datatype to pass parameters
###################################################################

In [ ]:
iris.groupby("Length").agg(["max","sum"]).head()
#groupby Length and max, sum of all the remaining cols

In [ ]:
iris.head(n=20)

In [ ]:
cr=pd.read_csv("atlcrime.csv", dtype= object)
cr

#dtype=object, converted all cols to object type
#The reason you get this low_memory warning is because guessing dtypes for each column is very memory demanding. 
#Pandas tries to determine what dtype to set by analyzing the data in each column.

In [ ]:
cr["date"]=pd.to_datetime(cr["date"])
cr.dtypes

In [ ]:
cr["beat"]=pd.to_numeric(cr["beat"], errors="coerce")
cr.dtypes
#As all cols where of type objcets, hence converted the required cols to numeric

In [ ]:
test= cr.groupby("location").agg({"beat": ["mean"], "date": ["min", "max"]})
test
#groupby 'location' with mean of 'beat' and first and last 'date'
#As there are multiple cols and on each col we have a condition to apply. Hence, passing it as a dictionary in agg()
#For beat -> calculate mean
#For date -> calculate min and max
###################################################################
#1 col -> multiple conditions Use DICTIONARY
###################################################################

In [ ]:
test= cr.groupby("location").agg({"beat": ["mean"], "date": ["min", "max"]})
print(test.columns)  #3 cols
test.reset_index(inplace= True) #index from 0,1,...
print(test.columns)  #4 cols
test.columns= ["Location", "Average Beat", "Start date", "End date"]
test

#After applying condition no. of cols-3, so we need to reset index to match the no. of cols (after applying condition) and (when we give custom col names)
#We changed the name of all the cols

In [ ]:
test= cr.groupby("location").agg({"beat": ["mean"], "date": ["min", "max"]})
test.reset_index(inplace= True)
test.columns= ["Location", "Average Beat", "Start date", "End date"]
test.to_csv("Output File.csv")

# LOOPS AND FUNCTIONS

In [ ]:
temp=[1,2,3]
res=[]
for i in temp:
    res.append(i*i)
res

In [ ]:
#LIST COMPREHENSION IN PYTHON 
[i*i for i in temp]

In [ ]:
iris["Width"].mean()

In [ ]:
iris.apply("mean")
#mean of all the integer cols

#apply function works on either all the cols/all the rows

In [ ]:
iris.apply("mean", axis=1)
#mean of each row(will include integer values and ignore string values)

#axis=0, operation on cols
#axis=1, operation on rows

In [ ]:
iris.select_dtypes(include=["int64", "float64"]).apply("mean")
#if any version of panda gives an error for string values in .csv files then we can mention type of values

In [ ]:
def maxHeight(Height):
    return["Eligible" if x>4 else "Not Eligible" for x in Height]
iris["Criteria"]=maxHeight(iris["Height"])
iris

In [ ]:
#import numpy as np
def codeVal(Code):
    values=np.where(Code==0.2, "Yes", "No")
    return values
iris["Values"]=codeVal(iris["Code"])
iris

In [ ]:
def maxHeight(Height):
    return["Eligible" if x>4 else "Not Eligible" for x in Height]
iris["Criteria"]=maxHeight(iris["Height"])

newIris= iris.select_dtypes(include=["int64","float64"]).apply(maxHeight)
#newIris-> 150rows*4cols
#iris-> 150rows*7cols


#CONCAT 2 data frames
x=pd.concat([iris,newIris],axis=1)
x
x["Length"]  #Two cols(1 iris + 1 newIris)
#x-> 300ROWS*7cols for axis=0,rows
#x-> 150rows*11COLS for axis=1,cols

In [281]:
df.describe(include="all")

,FOOD NAME,SCIENTIFIC NAME,GROUP,SUB GROUP,Cost,Year
count,907,648,907,907,907,907.0
unique,907,639,24,123,3,NaN
top,Nutritional drink,Capsicum annuum,Aquatic foods,Fishes,Low,NaN
freq,1,6,166,111,905,NaN
mean,NaN,NaN,NaN,NaN,NaN,2021.0
std,NaN,NaN,NaN,NaN,NaN,0.0
min,NaN,NaN,NaN,NaN,NaN,2021.0
25%,NaN,NaN,NaN,NaN,NaN,2021.0
50%,NaN,NaN,NaN,NaN,NaN,2021.0
75%,NaN,NaN,NaN,NaN,NaN,2021.0
max,NaN,NaN,NaN,NaN,NaN,2021.0